:root {
    --purple: #986DFF;
    --gray: #9CA3AF;
    --white: #ffffff;
    --ice-white: #D9D9D9;
    --medium-white: #f7f7f7;
    --black: #111;
    --medium-black: #151515;
    --ligth-black: #1F1F1F;
    --green: #A6FB98;
    --red: #E51D37;
    --blue: #00a3ff;
}

* {
    font-family: 'Archivo', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition-duration: 100ms;
}

a{
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    background-color: var(--black);
    color: var(--white);
}

@media screen and (max-width: 992px){
    * {
        transition-duration: 0ms;
    }

    body {
        overflow-x: hidden;
    }
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 8px;
}
 
::-webkit-scrollbar-track {
    background: var(--black); 
}
   
::selection {
    background-color: var(--purple);
    color: var(--white);
}

.section {
    opacity: 0;
    transition: 1s;
    transform: translateX(-10rem);
}

.section.active {
    transform: translateX(0);
    opacity: 1;
}

/* #region [DARK THEME] */

@import"https://unpkg.com/open-props/easings.min.css";.sun-and-moon>:is(.moon,.sun,.sun-beams) {
    transform-origin: center center
}

.sun-and-moon>:is(.moon,.sun) {
    fill: var(--icon-fill)
}

.theme-toggle:is(:hover,:focus-visible)>.sun-and-moon>:is(.moon,.sun) {
    fill: var(--icon-fill-hover)
}

.sun-and-moon>.sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px
}

.theme-toggle:is(:hover,:focus-visible) .sun-and-moon>.sun-beams {
    stroke: var(--icon-fill-hover)
}

[data-theme=dark] .sun-and-moon>.sun {
    transform: scale(1.75)
}

[data-theme=dark] .sun-and-moon>.sun-beams {
    opacity: 0
}

[data-theme=dark] .sun-and-moon>.moon>circle {
    transform: translate(-7px)
}

@supports (cx: 1) {
    [data-theme=dark] .sun-and-moon>.moon>circle {
        transform: translate(0);
        cx: 17
    }
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon>.sun {
        transition: transform .5s var(--ease-elastic-3)
    }

    .sun-and-moon>.sun-beams {
        transition: transform .5s var(--ease-elastic-4),opacity .5s var(--ease-3)
    }

    .sun-and-moon .moon>circle {
        transition: transform .25s var(--ease-out-5)
    }

    @supports (cx: 1) {
        .sun-and-moon .moon>circle {
            transition: cx .25s var(--ease-out-5)
        }
    }

    [data-theme=dark] .sun-and-moon>.sun {
        transform: scale(1.75);
        transition-timing-function: var(--ease-3);
        transition-duration: .25s
    }

    [data-theme=dark] .sun-and-moon>.sun-beams {
        transform: rotate(-25deg);
        transition-duration: .15s
    }

    [data-theme=dark] .sun-and-moon>.moon>circle {
        transition-delay: .25s;
        transition-duration: .5s
    }
}

.theme-toggle {
    --size: 2rem;
    --icon-fill: hsl(210 10% 30%);
    --icon-fill-hover: hsl(210 10% 15%);
    background: none;
    border: none;
    padding: 0;
    inline-size: var(--size);
    block-size: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px
}

.theme-toggle>svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round
}

[data-theme=dark] .theme-toggle {
    --icon-fill: hsl(210 10% 70%);
    --icon-fill-hover: hsl(210 15% 90%)
}

@media (hover: none) {
    .theme-toggle {
        --size: 48px
    }
}

html[data-theme=dark] {
    color-scheme: dark
}

@supports not (color-scheme: dark) {
    html[data-theme=dark] {
        background: #111
    }
}

@-webkit-keyframes octocat-wave {
    0%,to {
        transform: rotate(0)
    }

    20%,60% {
        transform: rotate(-25deg)
    }

    40%,80% {
        transform: rotate(10deg)
    }
}

@keyframes octocat-wave {
    0%,to {
        transform: rotate(0)
    }

    20%,60% {
        transform: rotate(-25deg)
    }

    40%,80% {
        transform: rotate(10deg)
    }
}

@media screen and (max-width: 992px){
    .theme-toggle>svg {
        inline-size: 50%;
        block-size: 100%;
        stroke-linecap: round
    }
}

/* #endregion */

/* #region [TOOTLIP] */

[aria-label][tooltip-position] {
    position: relative;
    letter-spacing: 0.1rem;
}

[aria-label][tooltip-position]::before,
[aria-label][tooltip-position]::after {
    --scale: 0;
    position: absolute;
    font-size: .8rem;
    transition: transform 100ms;
    transition-timing-function: linear;
}

[aria-label][tooltip-position]:hover::before,
[aria-label][tooltip-position]:hover::after {
    --scale: 1;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.45, 1.93);
}

[aria-label][tooltip-position]::before {
    content: attr(aria-label);
    background-color: var(--tooltip-color);
    padding: 0.5em;
    border-radius: 0.3em;
    width: max-content;
    max-width: 100%;
    text-align: center;
    transform: scale(0);
}

[aria-label][tooltip-position]::after {
    content: "";
    border: var(--arrow-size) solid transparent;
}

[aria-label][tooltip-position]::before,
[aria-label][tooltip-position]::after {
    --tooltip-color: #996dffab;
    --arrow-size: 0.3rem;
    --scale: 0;

    z-index: 1;
    font-size: .8rem;
    transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
}

[aria-label][tooltip-position="right"]::before {
    --translate-x: calc(100% + var(--arrow-size));
    --translate-y: -50%;
    right: 0px;
    top: 50%;
    transform-origin: left center;
}

[aria-label][tooltip-position="right"]::after {
    --translate-x: calc(var(--arrow-size));
    --translate-y: -50%;
    right: 0px;
    top: 50%;
    border-right-color: var(--tooltip-color);
    transform-origin: left center;
}

[aria-label][tooltip-position="bottom"]::before {
    --translate-x: -50%;
    --translate-y: calc(100% + var(--arrow-size));
    bottom: 0px;
    left: 50%;
    transform-origin: top center;
}

[aria-label][tooltip-position="bottom"]::after {
    --translate-x: -50%;
    --translate-y: calc(var(--arrow-size));
    left: 50%;
    bottom: 0px;
    border-bottom-color: var(--tooltip-color);
    transform-origin: top center;
}

[aria-label][tooltip-position="top"]::before {
    position: absolute;
    --translate-x: -50%;
    --translate-y: calc(-100% - var(--arrow-size));
    top: 0px;
    left: 50%;
    transform-origin: bottom center;
}

[aria-label][tooltip-position="top"]::after {
    --translate-x: -50%;
    --translate-y: calc(-1 * var(--arrow-size));
    top: 0px;
    left: 50%;
    border-top-color: var(--tooltip-color);
    transform-origin: bottom center;
}

[aria-label][tooltip-position="left"]::before {
    --translate-x: calc(-100% - var(--arrow-size));
    --translate-y: -50%;
    left: 0px;
    top: 50%;
    transform-origin: right center;
}

[aria-label][tooltip-position="left"]::after {
    --translate-x: calc(-1 * var(--arrow-size));
    --translate-y: -50%;
    left: 0px;
    top: 50%;
    border-left-color: var(--tooltip-color);
    transform-origin: right center;
}

[aria-label][tooltip-position="top"]::before {
    position: absolute;
    --translate-x: -50%;
    --translate-y: calc(-100% - var(--arrow-size));
    top: 0px;
    left: 50%;
    transform-origin: bottom center;
}

[aria-label][tooltip-position="top"]::after {
    --translate-x: -50%;
    --translate-y: calc(-1 * var(--arrow-size));
    top: 0px;
    left: 50%;
    border-top-color: var(--tooltip-color);
    transform-origin: bottom center;
}

[aria-label][tooltip-position="left"]::before {
    --translate-x: calc(-100% - var(--arrow-size));
    --translate-y: -50%;
    left: 0px;
    top: 50%;
    transform-origin: right center;
}

[aria-label][tooltip-position="left"]::after {
    --translate-x: calc(-1 * var(--arrow-size));
    --translate-y: -50%;
    left: 0px;
    top: 50%;
    border-left-color: var(--tooltip-color);
    transform-origin: right center;
}


/* #endregion */

/*#region [NAV]*/

header {
    padding: 0px 50px;
    background: var(--black);
    backdrop-filter: blur(24px);
    border-bottom: 1px solid #101013;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-div {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 992px){
    header {
        padding: 0px 24px;
    }

    .nav-div {
        max-width: 900px;
        margin: 0 auto;
    }

    #li-comentarios {
        display: none;
    }
}

.nav-div > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    padding: 0px 8px;
}

.nav-div > nav > img {
    cursor: pointer;
}

.nav-div > nav > ul {
    display: flex;
}

.nav-div > nav > ul > li {
    margin-left: 3rem;
}

.nav-div > nav > ul > li > a {
    color: var(--gray);
    position: relative;
    font-size: 1.2rem;
}

.nav-div > nav > ul > li > a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #986dff 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav-div > nav > ul > li > a:hover {
    color: var(--white);
}

.nav-div > nav > ul > li > a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 992px){
    .mobile-menu {
        display: block;
    }
}

.mobile-menu div {
    width: 32px;
    height: 1px;
    background-color: #fff;
    margin: 8px;
    transition: .4s;
}

@media screen and (max-width: 992px)
{
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px)
    }
    
    .mobile-menu.active .line2 {
        opacity: 0
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -5px)
    }

    .nav-list {
        text-align: center;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: #151515;
        flex-direction: column;
        padding-top: 96px;
        visibility: hidden;
    }

    .nav-list.active {
        visibility: initial;
        transition: 1s all ease
    }

    .nav-div > nav > ul > li {
        margin-bottom: 2rem;
        margin-left: 0px;
    }

    .nav-div > nav > ul > li > a{
        font-size: 2rem;
    }
}

/*#endregion*/

/*#region [BANNER HOME]*/

.s-home {
    max-width: 1200px;
    margin: 0px auto;
}

.home-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16rem 8rem;
}

.home-banner > div > ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-banner > div > ul > li {
    padding: 1rem 0rem;
}

.home-banner > div > ul > li.saudacoes {
    font-size: 1.1rem;
}

.home-banner > div > ul > li.nome {
    font-size: 3rem;
    line-break: auto;
    max-width: 100px;
}

.home-banner > div > ul > li.descricao {
    padding: 0rem 0rem 2rem 0rem;
    font-size: 1rem;
    color: var(--gray);
}

.home-banner > div > ul > li.redes-sociais > a {
    padding: 0rem .5rem 0rem 0rem;
}

.home-banner > div > ul > li.redes-sociais > a > svg {
    fill: var(--gray);
    width: 1.3rem;
    height: 1.3rem;
}

.home-banner > div > ul > li.redes-sociais > a > svg:hover,
.home-banner > div > ul > li.redes-sociais > a > svg:active {
    fill: var(--white);
}

.home-banner > div > img {
    margin-bottom: 5rem;
}

@media screen and (max-width: 992px){
    .s-home {
        max-width: 900px;
        padding: 100px 20px 0px 20px;
    }

    .home-banner {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding: 2rem 1rem;
    }

    .home-banner > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-banner > div > img {
        width: 80%;
        margin-bottom: 1rem;
    }

    .home-banner > div > ul > li {
        padding: .2rem 0rem;
    }

    .home-banner > div > ul > li.saudacoes {
        display: none;
    }

    .home-banner > div > ul > li.nome {
        font-size: 1.5rem;
        line-break: auto;
        max-width: 100px;
    }

    .home-banner > div > ul > li.descricao {
        padding: 0rem 0rem .5rem 0rem;
        font-size: .7rem;
        color: var(--gray);
    }
    
    .home-banner > div > ul > li.redes-sociais > a {
        padding: 0rem .2rem 0rem 0rem;
    }

    .home-banner > div > ul > li.redes-sociais > a > svg {
        width: 16px;
    }
}

/*#endregion*/

/*#region [PERFIL]*/

.s-perfil {
    max-width: 1200px;
    margin: 0px auto;
    padding: 8rem;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--medium-black);
    border: 2px solid var(--ligth-black);
    padding: 2rem;
}

.perfil > div.perfil-content {
    background-color: var(--medium-black);
    margin-left: 4rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.perfil > div > h4 {
    background-color: var(--medium-black);
    color: var(--purple);
    font-weight: 500;
}

.perfil > div > h2 {
    background-color: var(--medium-black);
    font-weight: 500;
    padding: 1rem 0rem;
    font-size: 2.5rem;
}

.perfil > div > h3 {
    background-color: var(--medium-black);
    font-weight: 500;
    font-size: 1rem;
}

.perfil > div > p {
    background-color: var(--medium-black);
    color: var(--gray);
    padding: 2rem 0rem;
    line-height: 160%;
    margin: 2rem 0rem 1rem 0rem;
}

.perfil > div > nav {
    width: 100%;
    background-color: var(--medium-black);
}

.perfil > div > nav > ul {
    background-color: var(--medium-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil > div > img {
    border: 1px solid var(--gray);
}

.perfil > div > nav > ul > a {
    background-color: var(--black);
    padding: 1rem;
    margin: 0rem 1rem 0rem 0rem;
    border: 1px solid var(--ligth-black);
    border-radius: 1.5rem;
}

.perfil > div > nav > ul > a > svg {
    fill: var(--purple);
}

@media screen and (max-width: 992px){
    .s-perfil {
        max-width: 900px;
        margin: 0px auto;
        padding: 8rem 3rem;
    }

    .perfil {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }

    .perfil > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .perfil > div.perfil-content {
        width: 100%;
        margin: 0px;
    }

    .perfil > div > img {
        width: 80%;
        height: 80%;
        margin-bottom: 2rem;
    }

    .perfil > div > h2 {
        font-size: 1.5rem;
    }

    .perfil > div > h3 {
        font-size: .8rem;
    }

    .perfil > div > p {
        padding: 0rem;
        line-height: 160%;
        margin: 2rem 0rem 1rem 0rem;
    }

    .perfil > div > nav > ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .perfil > div > nav > ul > a {
        padding: .5rem;
        margin: 0rem 1rem 0rem 0rem;
    }
}

/*#endregion*/

/*#region [CARREIRA]*/

.s-carreira {
    background-color: var(--medium-black);
    color: var(--white);
    padding: 10rem 2rem;
}

.carreira {
    max-width: 1200px;
    margin: 0px auto;
}

.carreira > h2 {
    background-color: var(--medium-black);
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
}

.carreira-content {
    background-color: var(--medium-black);
    margin-top: 2rem;
    display: flex;
    gap: 2.5rem;
}

.carreira-content > .empresas {
    background-color: var(--medium-black);
    display: flex;
    flex-direction: column;
    width: 25%;
}

.carreira-content > .empresas > div {
    background-color: var(--medium-black);
    padding: 1.5rem 1.3rem;
    text-align: left;
    background-color: var(--black);
}

.carreira-content > .empresas > div:hover,
.carreira-content > .empresas > div:active {
    cursor: pointer;
    background-color: var(--ligth-black);
}

.carreira-content > .empresas > div > h3 {
    font-size: 1rem;
    font-weight: 400;
}

.carreira-content > .empresas > .active {
    border-left: 4px solid var(--purple);
}

.carreira-content > .empresas > .active:hover,
.carreira-content > .empresas > .active:active {
    background-color: var(--black);
    cursor: default;
}

.carreira-content > .descricao {
    background-color: var(--medium-black);
    width: 75%;
}

.carreira-content > .descricao > div {
    background-color: var(--medium-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carreira-content > .descricao > div > h4 {
    background-color: var(--medium-black);
    font-size: 1.6rem;
    font-weight: 400;
}

.carreira-content > .descricao > div > p {
    background-color: var(--medium-black);
    font-size: 1rem;
    color: var(--gray);
}

.carreira-content > .descricao > h5 {
    background-color: var(--medium-black);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 2rem 0rem;
    color: var(--purple);
}

.carreira-content > .descricao > p {
    background-color: var(--medium-black);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray);
}

@media screen and (max-width: 992px){
    .carreira {
        max-width: 900px;
        margin: 0px auto;
    }
    
    .carreira-content {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .carreira-content > .empresas {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .carreira-content > .empresas > div {
        padding: .8rem 1.3rem;
    }
    
    .carreira-content > .empresas > .active {
        border-left: 2px solid var(--purple);
    }
    
    .carreira-content > .descricao {
        width: 100%;
    }
    
    .carreira-content > .descricao > h5 {
        font-size: 1rem;
        padding: 1rem 0rem;
        color: var(--purple);
    }
    
    .carreira-content > .descricao > p {
        font-size: 1rem;
    }
}

/*#endregion*/

/*#region [PORTIFOLIO]*/

.s-portifolio{
    max-width: 1200px;
    margin: 0px auto;
    padding: 6rem 2rem;
    text-align: center;
}

.portifolio > h2 {
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
}

.portifolio-content {
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: left;
}

.portifolio-content > article {
    padding: 2rem;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    background-color: var(--medium-black);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portifolio-content > article.green {
    border: 1px solid var(--green);
}

.portifolio-content > article.red {
    border: 1px solid var(--red);
}

.portifolio-content > article.blue {
    border: 1px solid var(--blue);
}

.portifolio-content > article.breve:hover
.portifolio-content > article.breve:active {
    border: 1px solid var(--purple);
    transition: 1s all ease;
}

.portifolio-content > article > h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

.portifolio-content > article > p {
    line-height: 1.5rem;
    margin: 1.5rem 0rem;
    color: var(--gray);
    font-size: 1.1rem;
}

.portifolio-content > article > a {
    position: relative;
    font-size: 1.1rem;
    font-weight: 400;
}

.portifolio-content > article > a::after {
    content: "";
    position: absolute;
    width: 25%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.portifolio-content > article > a:hover::after,
.portifolio-content > article > a:active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.portifolio-content > article.red > a {
    color: var(--red);
    opacity: .8;
}

.portifolio-content > article.red > a::after {
    background: linear-gradient(270deg, var(--red) 0%, var(--black) 100%);
}

.portifolio-content > article.blue > a {
    color: var(--blue);
    opacity: .8;
}

.portifolio-content > article.blue > a::after {
    background: linear-gradient(270deg, var(--blue) 0%, var(--black) 100%);
}

.portifolio-content > article.green > a {
    color: var(--green);
    opacity: .8;
}

.portifolio-content > article.green > a::after {
    background: linear-gradient(270deg, var(--green) 0%, var(--black) 100%);
}

.portifolio > a {
    color: var(--purple);
    position: relative;
    font-size: 1.1rem;
    font-weight: 400;
}

.portifolio > a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.portifolio > a:hover::after,
.portifolio > a:active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.portifolio > a::after {
    background: linear-gradient(270deg, var(--purple) 0%, var(--black) 100%);
}

@media screen and (max-width: 992px){
    .s-portifolio{
        max-width: 900px;
        margin: 0 auto;
    }

    .portifolio-content > article {
        flex-basis: auto;
    }
}

/*#endregion*/

/*#region [SKILLS]*/

.s-skills {
    background-color: var(--medium-black);
    color: var(--white);
    padding: 6rem 3rem;
}

.skills {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 8px;
}

.skills > article {
    min-height: 25rem;
    width: 50%;
}

.skills > article > h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 500;
}

.skills > article > p {
    max-width: 32rem;
    line-height: 1.5rem;
    color: gray;
    font-size: 1.1rem;
}

.skills > div.cards {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills > div.cards > article {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    flex-grow: 1;
    height: 8rem;
    background-color: var(--black);
    position: relative;
    border: 1px solid var(--ligth-black);
    border-radius: 4px;
}

.skills > div.cards > article:hover,
.skills > div.cards > article:active {
    border: 1px solid var(--purple);
    transition: 1s all ease;
}

.skills > div.cards > article > svg {
    height: 60px;
    width: 60px;
    display: block;
}

.skills > div.cards > article:not(:hover) > svg > path {
    fill: var(--purple);
}

.skills > div.cards > article:not(:hover) > svg > g {
    fill: var(--purple);
}

@media screen and (max-width: 992px){
    .skills {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .skills > article > p {
        display: none;
    }

    .skills > article {
        min-height: 2rem;
        width: 100%;
        text-align: center;
    }

    .skills > div.cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills > div.cards > article {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
        flex-grow: 1;
        height: 8rem;
        background-color: var(--black);
        position: relative;
        border: 1px solid var(--ligth-black);
        border-radius: 4px;
    }
}

/*#endregion*/

/*#region [COMENTARIOS]*/

carousel {
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
}

carousel > page {
    position: absolute;
    width: 100%;
    transition: transform 1s;
    transform: scale(0);
}

carousel > #page1-checkbox:checked ~ #page1 {
    transform: scale(1);
}

carousel > #page2-checkbox:checked ~ #page2 {
    transform: scale(1);
}

page > label {
    color: var(--purple);
    width: 100%;
    cursor: pointer;
    transition: .8s ease;
}

page > label:hover {
    transform: scale(1.2);
}

.s-comentarios{
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
    padding: 6rem 2rem;
    text-align: center;
    height: 50rem;
}

.comentarios {
    position: relative;
}

.comentarios-content {
    position: relative;
}

.comentarios > h2 {
    padding-bottom: 5rem;
    font-size: 3rem;
    font-weight: 500;
}

.comentarios-content > carousel > page {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.comentarios-content > carousel > page > article {
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    flex-grow: 1;
    height: 25rem;
    background-color: var(--medium-black);
    position: relative;
    border: 1px solid var(--purple);
    border-radius: 1.5rem;
    transition: transform .5s;
}

.comentarios-content > carousel > page > article:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.comentarios-content > carousel > page > article > div {
    padding-left: 1rem;
}

.comentarios-content > carousel > page > article > div > svg {
    display: block;
    fill: var(--purple);
    margin-left: .2rem;
    margin-top: 2rem;
}

.comentarios-content > carousel > page > article > p {
    line-height: 1rem;
    color: gray;
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    padding: 0rem 2rem;
}

.comentarios-content > carousel > page > article:hover > p {
    color: var(--white);
}

.comentarios-content > carousel > page > article > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.comentarios-content > carousel > page > article > div > img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin-right: .7rem;
    border: 1px solid var(--ligth-black);
    margin-bottom: 2rem;
}

.comentarios-content > carousel > page > article > div > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.comentarios-content > carousel > page > article > div > div > h4 {
    font-weight: 400;
}

.comentarios-content > carousel > page > article > div > div > p {
    font-weight: 100;
    color: var(--purple);
    font-size: .8rem;
}

@media screen and (max-width: 992px){
    .s-comentarios{
        display: none;
    }
}

/*#endregion*/

/*#region [FOOTER]*/

footer {
    background-color: var(--ligth-black);
}

.footer {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer > p {
    font-size: 1.1rem;
}

.footer > p > a {
    color: var(--purple);
}

.footer > p > a:hover,
.footer > p > a:active {
    color: var(--blue);
}

.footer > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer > div > img {
    cursor: pointer;
}

@media screen and (max-width: 992px){
    .footer{
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
    }

    .footer > div {
        display: none;
    }
}

/*#endregion*/

/* #region [LIGTH THEME] */

body.light-theme {
    background-color: var(--white);
    color: var(--black);
}

body.light-theme > header {
    background: var(--white);
    border-bottom: 1px solid var(--ice-white);
}

body.light-theme > header > .nav-div > nav > ul > li > a {
    color: var(--medium-black);
}

body.light-theme > header > .nav-div > nav > .mobile-menu div {
    background-color: var(--black);
}

body.light-theme > header > .nav-div > nav > img{
    content: url(images/logo_black.png);
}

body.light-theme > header > .nav-div > nav > ul > li > a:hover {
    color: var(--purple);
}

body.light-theme > main > section#s-home > div.home-banner > div > ul > li.descricao {
    color: var(--purple);
}

body.light-theme > main > section#s-home > div.home-banner > div > ul > li.redes-sociais > a > svg {
    fill: var(--black);
}

body.light-theme > main > section#s-perfil > .perfil {
    background-color: var(--medium-white);
    border: 2px solid var(--ice-white);
}

body.light-theme > main > section#s-perfil > .perfil > div.perfil-content {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-perfil > .perfil > div > h4 {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-perfil > .perfil > div > h2 {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-perfil > .perfil > div > h3 {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-perfil > .perfil > div > p {
    background-color: var(--medium-white);
    color: var(--ligth-black);
}

body.light-theme > main > section#s-perfil > .perfil > div > nav > ul {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-perfil > .perfil > div > nav > ul > a {
    background-color: var(--medium-white);
    border: 1px solid var(--ice-white);
}

body.light-theme > main > section#s-perfil > .perfil > div > nav > ul > a > svg {
    fill: var(--medium-black);
}

body.light-theme > main > section#s-carreira {
    background-color: var(--medium-white);
    color: var(--medium-black);
}

body.light-theme > main > section#s-carreira > div.carreira > h2 {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-carreira > div.carreira > div.carreira-content {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .empresas {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .empresas > div {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .empresas > div:hover,
body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .empresas > div:active {
    background-color: var(--ice-white);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .empresas > .active:hover,
body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .empresas > .active:active {
    background-color: var(--ice-white);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .descricao {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .descricao > div {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .descricao > div > h4 {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .descricao > div > p {
    background-color: var(--medium-white);
    color: var(--medium-black);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .descricao > h5 {
    background-color: var(--medium-white);
    color: var(--purple);
}

body.light-theme > main > section#s-carreira > div.carreira > .carreira-content > .descricao  > p {
    background-color: var(--medium-white);
    color: var(--medium-black);
}

body.light-theme > main > section#s-portifolio > .portifolio > .portifolio-content > article {
    background-color: var(--medium-white);
}

body.light-theme > main > section#s-portifolio > .portifolio > .portifolio-content > article.green > a {
    color: #4dcc3a;
    opacity: .8;
}

body.light-theme > main > section#s-portifolio > .portifolio > .portifolio-content > article.green > a::after {
    background: linear-gradient(270deg, #4dcc3a 0%, var(--black) 100%);
}

body.light-theme > main > .s-skills {
    background-color: var(--medium-white);
    color: var(--medium-black);
}

body.light-theme > main > .s-skills > .skills > div.cards > article {
    background-color: var(--white);
    border: 1px solid var(--ligth-black);
}

body.light-theme > main > .s-skills > .skills > div.cards > article:not(:hover) > svg > path {
    fill: var(--gray);
}

body.light-theme > main > .s-skills > .skills > div.cards > article:not(:hover) > svg > g {
    fill: var(--gray);
}

body.light-theme > main > .s-comentarios > .comentarios > .comentarios-content > carousel > page > article {
    background-color: var(--medium-white);
    border: 1px solid var(--purple);
}

body.light-theme > main > .s-comentarios > .comentarios > .comentarios-content > carousel > page > article:hover > p {
    color: var(--medium-black);
}

body.light-theme > footer {
    background-color: var(--medium-white);
}

body.light-theme > footer > .footer > div > img {
    content: url(images/logo_black.png);
}

body.light-theme::-webkit-scrollbar-track {
    background: var(--ice-white); 
}

@media screen and (max-width: 992px) {
    body.light-theme > header > .nav-div > nav > .nav-list {
        background-color: var(--white);
    }

    body.light-theme > footer {
        background-color: var(--white);
    }

    body.light-theme > main > section#s-perfil > .perfil > div > nav {
        background-color: var(--medium-white);
    }
}

/*#endregion*/